﻿
<div class="site-section bg-white">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-7 text-center mb-5">
                <h2>Our Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    <a href="single.html">
                        <img src="images/post_1.webp" alt="Image"
                             class="img-fluid">
                    </a>
                    <div class="post-entry-1-contents">

                        <h2><a href="single.html">The best car rent in the entire planet</a></h2>
                        <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    <a href="single.html">
                        <img src="images/img_2.webp" alt="Image"
                             class="img-fluid">
                    </a>
                    <div class="post-entry-1-contents">

                        <h2><a href="single.html">The best car rent in the entire planet</a></h2>
                        <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="post-entry-1 h-100">
                    <a href="single.html">
                        <img src="images/img_3.webp" alt="Image"
                             class="img-fluid">
                    </a>
                    <div class="post-entry-1-contents">

                        <h2><a href="single.html">The best car rent in the entire planet</a></h2>
                        <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
