﻿<div class="container site-section mb-5">
    <div class="justify-content-center text-center">
        <div class="col-12 text-center mb-5">
            <h2>Covid-19 RESPONSE PLAN</h2>
            <p>During these times, we want to make sure you feel safe. <br/> Feel free to review our COVID-19 Business Response.</p>
        </div>
    </div>
    <div class="how-it-works d-flex" style="justify-content: center !important;">
        <div class="container-login100-form-btn">
            <a class="login100-form-btn" style="width: 20% !important;" asp-controller="Home" asp-action="Covid">
                Covid-19 RESPONSE PLAN
            </a>
        </div>
    </div>
</div>