﻿<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('/images/hero_4.webp')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Limousine</h1>
                    <p>Your best option to rent a vehicle.</p>
                    <a href="#homeStepper" class="btn btn-primary ">Rent Now</a>
                </div>
            </div>
        </div>
    </div>
</div>