﻿<div class="infoMessage" hidden>
    <div class="infoMessageBox">
        <h5 class="infoTitle"></h5>
        <p class="infoDetail"></p>
        <button class="btn btn-primary infoBtn">Ready</button>
    </div>
</div>



<div class="infoMessage2" hidden>
    <div class="infoMessageBox2">
        <h5 class="infoTitle2"></h5>
        <p class="infoDetail2"></p>
        <div class="">
            <div class="m-2">
                <button class="btn btn-primary infoBtn2">Done</button>
            </div>
            <div class="m-2">
                <a class="btn btn-outline-primary infoBtnReservations" >View reservations</a>
            </div>
        </div>
    </div>
</div>