﻿<!-- Modal -->
<div class="modal fade" id="modalCar" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <input hidden id="modalIdCar" />
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select a car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="item-1">
                    <div class="slide-one-item owl-carousel">
                        <img src="~/images/img_7.webp" alt="Image" class="img-fluid" id="modalImgCar1">
                        <img src="~/images/img_8.webp" alt="Image" class="img-fluid" id="modalImgCar2">
                        <img src="~/images/img_9.webp" alt="Image" class="img-fluid" id="modalImgCar3">
                        <img src="~/images/img_10.webp" alt="Image" class="img-fluid" id="modalImgCar4">
                        <img src="~/images/img_11.webp" alt="Image" class="img-fluid" id="modalImgCar5">
                    </div>
                    <div class="item-1-contents">
                        <div class="text-center">
                            <h3><a style="white-space: nowrap" id="modalNameCar"></a></h3>
                            <div class="rating" id="rating">

                            </div>
                            <div class="rent-price"><span id="modalPriceCar"></span>day</div>
                        </div>
                        <ul class="specs">
                            <li>
                                <span>Brand</span>
                                <span class="spec" id="modalBrandCar"></span>
                            </li>
                            <li>
                                <span>Doors</span>
                                <span class="spec" id="modalDoorCar"></span>
                            </li>
                            <li>
                                <span>Seats</span>
                                <span class="spec" id="modalSeatCar">t</span>
                            </li>
                            <li>
                                <span>Transmission</span>
                                <span class="spec" id="modalTransmissionCar"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>