﻿
<div class="bs-stepper bg-light pt-0 pb-0" id="stepper">
    <div class="container">
        <div class="row">
            <div class="col-12 trip-form feature-car-rent-box-1" id="homeStepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#aboutTrip" id="aboutTripId">
                        <button type="button" class="step-trigger" role="tab" aria-controls="aboutTrip" id="aboutTrip-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <!--<span class="bs-stepper-label">Personal Information</span>-->
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#selectCar" id="selectCarId">
                        <button type="button" class="step-trigger" role="tab" aria-controls="selectCar" id="selectCar-trigger">
                            <span class="bs-stepper-circle">2</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#personalInformation" id="personalInformationId">
                        <button type="button" class="step-trigger" role="tab" aria-controls="personalInformation" id="personalInformation-trigger">
                            <span class="bs-stepper-circle">3</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <partial name="_PartialView/_stepper/_aboutTrip" />
                    <partial name="_PartialView/_stepper/_selectCar" />
                    <partial name="_PartialView/_stepper/_personalInformation" />

                </div>
            </div>
        </div>
    </div>
</div>