﻿<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('/images/hero_5.webp')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Contact Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="infoMessage" hidden>
    <div class="infoMessageBox">
        <h5 class="infoTitle"></h5>
        <p class="infoDetail"></p>
        <button class="btn btn-primary infoBtn">Ready</button>
    </div>
</div>

<div class="infoMessage2" hidden>
    <div class="infoMessageBox2">
        <h5 class="infoTitle2"></h5>
        <p class="infoDetail2"></p>
        <div class="">
            <div class="m-2">
                <button class="btn btn-primary infoBtn2">Done</button>
            </div>
            @*<div class="m-2">
                    <a class="btn btn-outline-primary infoBtnReservations">View reservations</a>
                </div>*@
        </div>
    </div>
</div>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-7 text-center mb-5">
                <h2>Contact Us Or Use This Form To Rent A Car</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mb-5">
                <form>

                    <div class="form-group row">
                        <div class="col-md-6 mb-4 mb-lg-0">
                            <input type="text" id="firstName" class="form-control" placeholder="First Name">
                            <span class="text-danger" id="msgFirstName"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="number" id="phoneNumber" class="form-control" placeholder="Phone Number">
                            <span class="text-danger" id="msgPhoneNumber"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" id="email" class="form-control" placeholder="Email Address">
                            <span class="text-danger" id="msgEmail"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea name="" id="message" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
                            <span class="text-danger" id="msgMessage"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 mr-auto">
                            <input type="button" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message" id="saveContactInformation">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4 ml-auto">
                <div class="bg-white p-3 p-md-5">
                    <h3 class="text-black mb-4">Contact Info</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block mb-3">
                            <span class="d-block text-black">Address:</span>
                            <span>34 Street Name, City Name Here, United States</span>
                        </li>
                        <li class="d-block mb-3"><span class="d-block text-black">Phone:</span><span>+1 888 888 888</span></li>
                        <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>info@snowsoftwaresolutions.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Contact/_contact.js"></script>
}