﻿@model List<CarWeb.Models.ViewModels.Car.CarViewModel>
@{

    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="item-1">
                <a><img src=@item.ImageCars.FirstOrDefault().Path width="511" height="319" alt="Image" class="img-fluid"></a>
                <div class="item-1-contents">
                    <div class="text-center">
                        <h3><a>@item.Name</a></h3>
                        <div class="rating">
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                            <span class="icon-star text-warning"></span>
                        </div>
                        <div class="rent-price"><span>@item.Price/</span>day</div>
                    </div>
                    <ul class="specs">
                        <li>
                            <span>Doors</span>
                            <span class="spec">@item.Door</span>
                        </li>
                        <li>
                            <span>Seats</span>
                            <span class="spec">@item.Seat</span>
                        </li>
                        <li>
                            <span>Transmission</span>
                            <span class="spec">@item.Transmission</span>
                        </li>

                    </ul>
                    <div class="d-flex action">
                        <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">Rent Now</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
