﻿@model Tuple<List<CarWeb.Models.ViewModels.Car.CarViewModel>, CarWeb.Models.ViewModels.Reservation.ReservationViewModel>
<div id="aboutTrip" class="content" role="tabpanel" aria-labelledby="aboutTrip-trigger">
    <div class="col-lg-12">
        <form>
            <div class="row align-items-center mb-4">
                <div class="col-md-6">
                    <h3 class="m-0">Begin your trip here</h3>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="cf-1">Select Service Type</label>
                    <select asp-items="Model.Item2.ServiceTypes" id="selectServiceTypeCode" class="form-control m-b"></select>
                </div>
                <div class="form-group col-md-6 isPickUpLocation">
                    <label for="cf-1">Pick-Up Location</label>
                    <input type="text" id="from" placeholder="Your pickup address" class="form-control input100">
                    <span class="text-danger" id="msgFrom"></span>
                </div>
                <div class="form-group col-md-6 isDropOffLocation">
                    <label for="cf-2">Drop-Off Location</label>
                    <input type="text" id="go" placeholder="Your drop-off address" class="form-control input100">
                    <span class="text-danger" id="msgGo"></span>
                </div>

                <div class='form-group col-md-6 col-sm-12 col-xs-12 col-lg-6'>
                    <label>Pick-Up Date</label>
                    <input type="date" id="pickUpDate" placeholder="" class="form-control" min="2021-01-01" max="9999-12-31" />
                    <span class="text-danger" id="msgPickUpDate"></span>
                </div>
                <div class='form-group col-md-6 col-sm-12 col-xs-12 col-lg-6'>
                    <label>Pick-Up Time</label>
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' id="pickUpTime" class="form-control" onkeypress="return false;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <span class="text-danger" id="msgPickUpTime"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="cf-1">Number of Passengers</label>
                    <input type="number" id="reservationNumberOfPassenger" placeholder="" class="form-control input100" min="1" max="50" onkeypress="return event.charCode >= 48">
                    <span class="text-danger" id="msgNumberOfPassenger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="cf-2">Luggage Count</label>
                    <input type="number" id="reservationLuggageCount" placeholder="" class="form-control input100" min="0" max="50" onkeypress="return event.charCode >= 48">
                    <span class="text-danger" id="msgLuggageCount"></span>
                </div>

                <div class="form-group col-md-12">
                    <label for="cf-5">Note</label>
                    <textarea @*name=""*@ id="notes" class="form-control" placeholder="" cols="30" rows="2"></textarea>
                    <span class="text-danger" id="msgNotes"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input value="Next" class="btn btn-primary" id="saveInformationTrip">
                </div>
            </div>
            <div class="form-group col-md-6 isToAirport" hidden>
                <label for="cf-2">To Airport</label>
                <input class="form-control" placeholder="" id="toAirportInformation">
                <input hidden id="toAirportId">
            </div>
            <div class="form-group col-md-6 isFromAirport" hidden>
                <label for="cf-2">From Airport</label>
                <input class="form-control" placeholder="" id="fromAirportInformation">
                <input hidden id="fromAirportId">
            </div>
            <div class="form-group col-md-4 AirlineNameAndNumber" hidden id="terminalName">
                <label for="cf-1">Terminal</label>
                <input type="text" id="reservationTerminalName" placeholder="" class="form-control input100">
                <input hidden id="reservationTerminalNameId">
            </div>
            <div class="form-group col-md-4 AirlineNameAndNumber" hidden id="AerolineName">
                <label for="cf-1">Airline Name</label>
                <input type="text" id="reservationAerolineName" placeholder="" class="form-control input100">
                <input hidden id="reservationAerolineNameId">
                <span class="text-danger" id="msgFrom"></span>
            </div>
            <div class="form-group col-md-4 AirlineNameAndNumber" hidden id="AerolineNumber">
                <label for="cf-2">Airline Number</label>
                <input type="text" id="reservationAerolineNumber" placeholder="" class="form-control input100">
            </div>
            @*<div class="form-group col-md-6" hidden id="numberOfHours">
                    <label for="cf-2">Number of Hours</label>
                    <input type="number" id="reservationNumberOfHours" placeholder="" class="form-control input100" step=".5">
                    <span class="text-danger" id="msgGo"></span>
                </div>*@
        </form>
    </div>
</div>
