﻿<div id="personalInformation" class="content" role="tabpanel" aria-labelledby="personalInformation-trigger">
    <div class="col-lg-12">
        <form>
            <div class="row align-items-center mb-4">
                <div class="col-md-6">
                    <h3 class="m-0">Contact Us Or Use This Form To Rent A Car</h3>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <label for="cf-1">Full name</label>
                    <input type="text" id="clientFullname" placeholder="" class="form-control">
                    <span class="text-danger" id="msgName"></span>
                </div>
                <div class="form-group col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <label for="cf-4">Email Address</label>
                    <input type="text" id="clientEmail" placeholder="" class="form-control">
                    <span class="text-danger" id="msgEmail"></span>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <label for="cf-3">Phone number</label>
                    <div class="row">
                        <select id="selectCountryCode" class="col-3  form-control m-b"></select>
                        <input type="text" id="clientPhoneNumber" placeholder="" class="col-8 form-control">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="m-2">
                    <input value="Finish reservation" class="btn btn-primary savePersonalInformation" id="savePersonalInformation">
                </div>
                @*<div class="m-2">
                        <input value="Continue as guest" class="btn btn-outline-primary savePersonalInformation" id="savePersonalInformation">
                    </div>*@
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="userPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email</label>
                            <input type="text" class="form-control" id="userEmail" readonly>
                            <input type="text" class="form-control" id="userId" hidden>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Password</label>
                            <input type="password" class="form-control" id="userPassword">
                            <span class="text-danger" id="passwordValidationMsg"></span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmUserPassword">
                            <span class="text-danger" id="confirmPasswordValidationMsg"></span>
                        </div>
                    </form>

                    <span class="text-danger" id="loginErrorMsg"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveUserPassword">Save changes</button>
                    <button type="button" class="btn btn-primary" id="logUser" hidden>Log in</button>
                </div>
            </div>
        </div>
    </div>
</div>