﻿@model Tuple<List<CarWeb.Models.ViewModels.Car.CarViewModel>, CarWeb.Models.ViewModels.Reservation.ReservationViewModel>
<div id="selectCar" class="content" role="tabpanel" aria-labelledby="selectCar-trigger">
    <div class="col-lg-12">
        <div class="row align-items-center mb-4">
            <div class="col-md-6">
                <h3 class="m-0">Select a car</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 align-self-center">
                <a href="#" class="btn btn-primary custom-prev"><</a>
            </div>
            <div class="col-lg-10">
                <div class="nonloop-block-13 owl-carousel" id="carouselCar">
                    @foreach (var item in Model.Item1)
                    {
                        <div class="item-1 item-2" data-target-id="@item.Id" id="@item.Id">
                            <div data-toggle="modal" data-target="#modalCar">
                                <img src=@item.ImageCars.FirstOrDefault().Path alt="Image" class="img-fluid">
                                <div class="item-1-contents">
                                    <div class="text-center">
                                        <h3><a style="white-space: nowrap">@item.Name</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex action justify-content-center align-content-center" >
                                <a class="btn btn-primary rentCar text-white" data-target-id="@item.Id" id="@item.Id">Rent</a>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="col-lg-1 align-self-center">
                <a href="#" class="btn btn-primary custom-next">></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var carList = @(Json.Serialize(Model.Item1));
</script>