﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>GLimousine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/limousine.css">

    <link rel="stylesheet" href="~/css/stepper.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/template/main.css">
    <link href="~/css/template/main.css" rel="stylesheet" />
    <link href="~/css/template/util.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center position-relative">

                    <div class="col-3">
                        <div class="site-logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" style="width:140px;" alt="App Logo" class="img-responsive" /></a>
                        </div>
                    </div>

                    <div class="col-9  text-right">
                        <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>
                        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color: #fff !important;">@Context.User.Identity.Name</span>
                                        @*<img class="img-profile rounded-circle" src="~/img/YopoICONHQ.webp">*@
                                        <i class="fade fade-in-down" style="color: #A52A2A !important;"></i>
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                        <form id="form-logout" asp-controller="Security" asp-action="LogOut" class="dropdown-item">
                                            <a class="dropdown-item" onclick="javascript: $('#form-logout').submit();">
                                                Sign off
                                            </a>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>
        <div class="site-section bg-light" id="contact-section" style="height: 1000px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4 border-left-primary bgWhited9">
                            <div class="row card-header py-3 col-12 bgWhite52" style="margin: 0">
                                <div class="col-6 centerHorizontal">
                                    <h5 class="m-0 font-weight-bold text-primary">Reservations</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="reservationTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="font-weight-bolder">Car</th>
                                                <th class="font-weight-bolder">Departure Place</th>
                                                <th class="font-weight-bolder">Arrive Place</th>
                                                <th class="font-weight-bolder">Date</th>
                                                <th class="font-weight-bolder">Time</th>
                                                <th class="font-weight-bolder">Status</th>

                                                <th class="font-weight-bolder"><span id="notificationColumnName"></span></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="isUserAdmin" value="@(User.IsInRole("Administrator") ? "true" : "false")" />

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~/")";
    </script>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDPXB9KbhsRHFjP-snur0HjO-x-EJSxFKM"></script>
    <script src="~/js/Template/moment-with-locales.min.js"></script>
    <script src="~/js/Template/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/Template/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/Template/datatables/datatables.js"></script>
    <script src="~/js/Template/bootbox.min.js"></script>
    <script src="~/js/Notification/list.js"></script>
</body>

</html>
