﻿@model CarWeb.Models.ViewModels.Reservation.ReservationPreviewViewModel


<style type="text/css">

    .headerColor {
        background: #00447b;
    }

    .headerTitle {
        margin-top: -45px;
        height: 80px;
    }

    .wrap-table100 {
        width: 75em;
        overflow: hidden;
    }

    .table {
        width: 100%;
        display: table;
        margin: 0;
    }
    .centerTable {
        display: flex;
        justify-content: center;
    }

    .titleTable {
        margin-bottom: 5px;
    }

    .col {
        color: #00447b;
        font-size: 20px;
        font-weight: bold;
    }

    .test {
        background: #00447b;
        height: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*@@media (max-width: 500px) {
            .test {
                background: #00447b !important;
                width: 109% !important;
                height: 83px !important;
                text-align: center !important;
                margin-left: -8% !important;
            }
        }*/

    .colorCell {
        color: #00447b !important;
    }
</style>
<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
            <div class="col-md-6">
                <h2 class="mb-4">Reservation Details</h2>
                @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident eius ratione velit, voluptas laborum nemo quas ad necessitatibus placeat?</p>*@
            </div>
        </div>
        <div class="container-fluid">
            <br />
            <br />
            <div class="row2 titleTable">
                <div class="col font-weight-bold">
                    RESERVATION SERVICE
                </div>
            </div>
            <br />
            <div class="row2 centerTable">
                <div class="wrap-table100">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">SERVICE</th>
                                <th scope="col">VEHICLE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.ServiceTypeCodeNavigation?.Name</td>
                                <td>@Model.IdCarNavigation?.Name</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col">STATUS</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.IdStatusNavigation?.Name</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row2 titleTable">
            <div class="col font-weight-bold">
                PASSENGER RESERVATION
            </div>
        </div>
        <br />
        <div class="row2 centerTable">
            <div class="wrap-table100">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">PASSENGER</th>
                            <th scope="col">PHONE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.IdUserNavigation?.Name</td>
                            <td>@Model.IdUserNavigation?.CountryCodeNavigation?.CodeNumber @Model.IdUserNavigation?.Number</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">EMAIL</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.IdUserNavigation?.Email</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row2 titleTable">
            <div class="col font-weight-bold">
                LOCATIONS AND DATE
            </div>
        </div>
        <br />
        <div class="row2 centerTable">
            <div class="wrap-table100">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">PICK-UP</th>
                            <th scope="col">DROP-OFF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.PickUpLocation</td>
                            <td>@Model.DropOffLocation</td>
                        </tr>
                    </tbody>
                    @{
                        if (Model.ServiceTypeCode == "FA" || Model.ServiceTypeCode == "TA")
                        {
                            <thead>
                                <tr>
                                    <th scope="col">TERMINAL</th>
                                    <th scope="col">AIRLINE NAME</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Terminal?.Name</td>
                                    <td>@Model.AirlineName</td>
                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th scope="col">AIRLINE NUMBER</th>
                                    <th scope="col"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.AirlineNumber</td>
                                    <td></td>
                                </tr>
                            </tbody>

                        }

                    }
                    <thead>
                        <tr>
                            <th scope="col">DATE</th>
                            <th scope="col">TIME</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.PickUpDate</td>
                            <td>@Model.PickUpTime</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row2 titleTable">
            <div class="col font-weight-bold">
                MORE INFORMATION
            </div>
        </div>
        <br />
        <div class="row2 centerTable">
            <div class="wrap-table100">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">NUMBER OF PASSENGERS</th>
                            <th scope="col">LUGGAGE COUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.NumberOfPassenger</td>
                            <td>@(Model.LuggageCount != null ? Model.LuggageCount : 0)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*<br />
            <br />
            <br />
            <div class="row2 titleTable">
                <div class="col font-weight-bold">
                    NOTES
                </div>
            </div>
            <br />
            <div class="row2 centerTable">
                <div class="wrap-table100">
                    <div class="table">
                        <div class="row header">
                            <div class="cell">
                                {Notes}
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <br />
        <br />
        <div class="row2 titleTable test">
            <div class="font-weight-bold" style="text-align: left; margin-left: 4%; padding-top: 13px; color: #fff; padding:10px;">
                Estimate Quote: This information will be provided by the owner.
            </div>
        </div>
    </div>
</div>