﻿<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('/images/hero_4.webp')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                <img src="/images/hero_2.webp" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-3 mr-auto">
                <h2>Car Company</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique accusantium eius nulla quam laudantium sequi.</p>
                <p>Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga aliquid delectus cum ipsa?</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section ">
    <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
            <div class="col-md-6">

                <h2 class="mb-4">Meet Our Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident eius ratione velit, voluptas laborum nemo quas ad necessitatibus placeat?</p>
            </div>
        </div>
        <div class="row align-items-stretch">

            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1">

                    <img src="/images/person_1.webp" alt="Image"
                         class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>James Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1">

                    <img src="/images/person_2.webp" alt="Image"
                         class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>James Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1">

                    <img src="/images/person_3.webp" alt="Image"
                         class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>James Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1">

                    <img src="/images/person_4.webp" alt="Image"
                         class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>James Doe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
</div>
<!--
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/images/hero_1.webp" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-3 ml-auto">
                <h2>Our History</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique accusantium eius nulla quam laudantium sequi.</p>
                <p>Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga aliquid delectus cum ipsa?</p>
            </div>
        </div>
    </div>
</div>

<div class="container site-section mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
            <h2>How it works</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
        </div>
    </div>
    <div class="how-it-works d-flex">
        <div class="step">
            <span class="number"><span>01</span></span>
            <span class="caption">Time &amp; Place</span>
        </div>
        <div class="step">
            <span class="number"><span>02</span></span>
            <span class="caption">Car</span>
        </div>
        <div class="step">
            <span class="number"><span>03</span></span>
            <span class="caption">Details</span>
        </div>
        <div class="step">
            <span class="number"><span>04</span></span>
            <span class="caption">Checkout</span>
        </div>
        <div class="step">
            <span class="number"><span>05</span></span>
            <span class="caption">Done</span>
        </div>

    </div>
</div>
-->
