﻿
<div id="content" class="main-content">
    <div class="sqs-layout sqs-grid-12 columns-12">
<div  style="padding: 15% 10% 10% 5%;">
<div class="col sqs-col-12 span-12">
<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5f48ba50436c6d5fb06256de">
<div class="sqs-block-content">
<h3 style="text-align:center;white-space:pre-wrap;">#STOPTHESPREAD</h3>
<h1 style="text-align:center;white-space:pre-wrap;">
<strong>COVID-19 Update</strong></h1>
<p style="text-align:center;white-space:pre-wrap;" class="">As we continue through this life-altering pandemic together, Super City Limousine is committed to providing our industry leading experience while keeping you as safe as possible.</p>
<p style="text-align:center;white-space:pre-wrap;" class="">
<strong>Super City Limousine has always been a “consumer first” company, and through this pandemic, we continue to be so more than ever.</strong></p>
<p style="text-align:center;white-space:pre-wrap;" class="">We are closely following and adhering to the Centers for Disease Control’s (CDC) guidelines and recommendations on the steps we can take to help prevent the spread of the virus. We have developed guidelines and instilled specific instructions with our drivers to emphasize the importance of following safety procedures:</p></div></div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1598601821812_4153">
<div class="sqs-block-content">
<hr></div></div>
<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1598601821812_4214">
<div class="sqs-block-content">
<ol data-rte-list="default">
<li>
<p class="" style="white-space:pre-wrap;">Thoroughly disinfecting the vehicle after every trip, including in-between stops when applicable</p></li>
<li>
<p class="" style="white-space:pre-wrap;">Wiping down the seats, door handles (in/out), armrest, head rest, vents, windows and seat-belts, etc by using approved disinfecting wipes </p></li>
<li>
<p class="" style="white-space:pre-wrap;">Offering assistance in disinfecting personal luggage/items</p></li>
<li>
<p class="" style="white-space:pre-wrap;">Wearing a mask and avoiding physical contact at all times, including at times of pick-up and drop-off</p></li>
<li>
<p class="" style="white-space:pre-wrap;">Providing hand sanitizer to all of our riders</p></li>
<li>
<p class="" style="white-space:pre-wrap;">Any other action that relates to the enhanced protection to both our riders and drivers.</p></li></ol></div></div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1598601821812_4978">
<div class="sqs-block-content">
<hr></div></div>
<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1598601821812_5038">
<div class="sqs-block-content">
<p style="text-align:center;white-space:pre-wrap;" class="">Additionally, any driver reporting any symptoms of illness are automatically removed from duties and instructed to self-quarantine and contact their health care provider. Drivers are also subject to temperature checks upon the start and end of each work day.</p></div></div>
<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1598601821812_5777">
<div class="sqs-block-content">
<hr></div></div>
<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1598601821812_5837">
<div class="sqs-block-content">
<p style="text-align:center;white-space:pre-wrap;" class="">Please stay safe. We hope to provide you with an unforgettable experience very soon.</p>
<p style="text-align:center;white-space:pre-wrap;" class="">
<strong>Super City Limousine</strong></p></div></div></div></div></div>
</div>