﻿
<partial name="_PartialView/_init" />
<partial name="_PartialView/_message" />
@*<partial name="_PartialView/_stepper" />*@
<partial name="_PartialView/_covid" />
<partial name="_PartialView/_service" />
@*<partial name="_PartialView/_modal" />*@
<!--
<partial name="_PartialView/_work" />
<partial name="_PartialView/_testimony" />
<partial name="_PartialView/_blog" />

-->
@section Styles {

    <link href="~/js/datetimepicker/bootstrap-material-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/css/stepper.min.css">
    @*<link href="~/lib/select2/dist/css/select2.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.css" rel="stylesheet" />*@
}

<!-- END panel-->
@section Scripts {
    <script src="~/js/stepper.min.js"></script>
    <script src="~/js/Phonenumber/cleave.js"></script>
    <script src="~/js/Phonenumber/cleave-phone.i18n.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/Home/validateServiceType.js"></script>
    <script src="~/js/Home/_home.js"></script>
    <script src="~/js/Service/_service.js"></script>
    <script src="~/js/Util/phonenumberFormat.js"></script>
    <script src="~/js/Airport/airport.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
}