﻿@model CarWeb.Models.ViewModels.User.LoginViewModel

<div class="limiter ">
    <div class="container-login100  ui-bg-cover ui-bg-overlay-container" style="background: url('/images/hero_4.webp') no-repeat center center fixed; background-size: cover; ">
        <div class="ui-bg-overlay bg-dark opacity-25"></div>
        <div class="authentication-inner" style="padding-top: 7rem!important;">
            <div class="card">
                <div class="p-4 p-sm-4" style="text-align: center;">
                    <span class="login100-form-title p-b-50">
                        Account Login
                    </span>
                    <br />
                    <br />
                    <!-- Form -->
                    <form asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Type email">
                            <input class="input100" asp-for="Email" type="text" placeholder="Email">
                            <span class="focus-input100"></span>
                        </div>
                        <br />
                        <div class="wrap-input100 validate-input m-b-20" data-validate="Type password">
                            <input class="input100" asp-for="Password" type="password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit">
                                Sign in
                            </button>
                        </div>
                        <br />
                        <div class="w-full text-center p-t-27 p-b-50">
                            <span class="footer-text font-weight-bolder">Limousine </span>© @DateTime.Today.Year
                            | <a href="http://snowsoftwaresolutions.com/" target="_blank">SNOW SOFTWARE SOLUTIONS</a>.
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>